*{
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 border: border-box;

}
/* this is for the navigation bar */
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
 background-image: url(assets/amazon_logo.png);
 background-size: cover;
 height: 50px;
 width: 100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

.nav-address{
    height: 50px;
    width: 110px;
    margin-top:6px;
}

.add-first{
    color:#CCCCCC;
    font-size: 14px;
    margin-left: 16px;
}
.add-sec{
    color: #FFFFFF;
    font-size: 16px;
    margin-left:4px;
}
.address{
    display: flex;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd69;
    height: 40px;
    width: 770px;
    border-radius: 4px;
    color:#0F1111;
}

.search-select{
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border:none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-sfirst{
    font-size: 0.9rem;   
}
.nac-second{
font-size: 0.85rem;
font-weight:700;
}

/* cart */

.nav-incart i {
    font-size:30px;
}

.nav-incart{
    font-size: 1rem;
    font-weight: 25;
}

/* Panel deals and others */

.panel{
    height: 40px;
    background-color: #222F3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Section 2 */

.section2{
    background-image: url(assets/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-message{
    background-color: #f3f3f3;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
    width: 80%;
    margin-bottom: 45px;
}

/* Shop Section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    background-color: white;
    height: 390px;
    width: 22%;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.shop-image{
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-content{
    margin-left: 10px;
    margin-right:10px; 
}

/* Footer panel 1 */

footer{
    margin-top: 10px;

}

.footer-panel1{
    background-color:#37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: #dddddd;
    }
}

.footer-panel2{
    background-color: #222F3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;

ul{
    margin-top:20px;
}
ul p {
            font-size: 16px;
            font-weight: 300;
        }
ul a {
    font-size:14px;
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover{
    text-decoration: underline;
}
}

.footer-panel3{
    background-color: #222F3d;
    color: white;
    border-top:0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logof{
    height: 50px;
    width: 100px;
}

.footer-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    display: felx;
    justify-content: center;
    text-align: center;
}

.pages{
    font-size: 14px;
    padding-top: 25px;
}
.copy-right{
    font-size: 12px;
    padding-top: 5px;
}